@if (product){
<mat-card class="h-[430px] flex" appearance="raised">
    <img class="h-[300px] object-cover object-center w-full rounded-t-lg" src="{{product.pictureURL}}" alt="image of {{product.name}}">
    <mat-card-content class="mt-2 grow">
        <h2 class="text-sm font-semibold uppercase">{{product.name}}</h2>
        <p class="font-light">{{product.price | currency}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button class="w-full">
            <mat-icon>add_shopping_cart</mat-icon>
            Add to cart
        </button>
    </mat-card-actions>
</mat-card>
}